@model IEnumerable<GreenLight.Models.Post>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "그린라이트";
}

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Search", "Glight", FormMethod.Get))
        {
            if (User.Identity.IsAuthenticated) { 
                @Html.ActionLink("글쓰기", "Create", "Glight", null, new { @class = "btn btn-info pull-right", role = "button" })
            }
            <h2>불을 켜줘</h2>
            <div class="nav-wrapper" id="custom-search-input">
                <input id="search" class="form-control input-group" type="search" name="query" placeholder="검색">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        }

        <ul class="postpage">
            @foreach (var p in Model.OrderBy(m => m.CreatedOn))
            {
                <li class="postList">
                    <div class="card-content @(p.Result == null ? "" : (bool)(p.Result) ? "on" : "off") hvrbox hvrbox_background">
                        <div class="postTitle"><h4>@p.TitleShort</h4><span class="postTime">@p.CreatedOn.Date.ToString("yyyy/MM/dd")</span></div>
                        <div class="card-inside">
                            @Html.DisplayFor(a => p.DescriptionShort)
                        </div>
                        <div class="card-views">
                            조회수 : @Html.DisplayFor(a => p.Views)
                        </div>
                        <a href="@Url.Action("Detail", "Glight", new { id = p.Id })" class="hvrbox-layer_top white-font">
                             @Html.Partial("_CardHover", p.Votes, new ViewDataDictionary {{ "postedbById", p.PostedById }, { "postID", p.Id }})
                        </a>
                    </div>                    
                </li>
            }
        </ul>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.horizontal .progress-fill span').each(function () {
                var percent = $(this).html();
                $(this).parent().css('width', percent);
                if (parseInt(percent) <= 10) {
                    $(this).parent().css('color', "black");
                }
            });
        });
    </script>
}

