@using GreenLight.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<GreenLight.Models.Comment>

@Html.Partial("_AddComment",new Comment(ViewBag.postId))

<div class="col-xs-12">
    @foreach (var m in Model.OrderBy(b => b.CreatedOn))
    {
        <div class="commentSection">
            <div class="userPic">
                <img src="http://www.w3schools.com/images/w3schools_green.jpg"/>
            </div>
            @if(User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(m.CreatedById)) { 
                <div class="commentDelete">
                    <button type="button" class="btn btn-danger deleteComment" data-commentid="@m.Id"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-info editComment" data-commentid="@m.Id"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
            }
            <div class="commentHolder">
                @Html.DisplayFor(model => m.Writing)
                <div class="likeHolder">
                    <span class="likeInfo" text-muted">Likes : @Html.DisplayFor(model => m.Likes)</span>
                    <button type="button" class="thumbs"><span class="glyphicon glyphicon-thumbs-up thumbs"></span></button>
                    <button type="button" class="thumbs"><span class="glyphicon glyphicon-thumbs-down thumbs"></span></button>
                </div>
            </div>
        </div>
    }

    @*<table class="commentSection table-bordered">
        @foreach (var c in Model.OrderBy(a => a.CreatedOn))
        {
            <tr>
                <td class="userIcon">
                    Picture @Html.DisplayFor(a => c.CreatedBy.UserName)
                </td>
                <td class="writingColumn">
                    <div class="writingDiv">
                        @Html.DisplayFor(a => c.Writing) <br />
                        <span class="likeInfo text-muted">Likes: @Html.DisplayFor(a => c.Likes)</span>
                    </div>
                </td>
                <td class="deleteCommentColumn">
                    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(c.CreatedById))
                    {
                        <button type="button" data-commentid="@c.Id">댓글 삭제</button>
                    }
                </td>
            </tr>
        }
    </table>*@
</div>
