@using GreenLight.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<GreenLight.Models.Comment>

@Html.Partial("_AddComment",new Comment(ViewBag.postId))

<div class="col-xs-12">
    @foreach (var m in Model.OrderBy(b => b.CreatedOn))
    {
        <div class="commentSection">
            <div class="userPic">
                <img src="http://www.w3schools.com/images/w3schools_green.jpg"/>
            </div>
            @if(User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(m.CreatedById)) { 
                <div class="commentDelete">
                    <button type="button" class="btn btn-danger deleteComment" data-commentid="@m.Id"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-info editComment" data-commentid="@m.Id"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
            }
            <div class="commentHolder">
                @Html.DisplayFor(model => m.Writing)
                <div class="likeHolder">
                    <span class="likeInfo" text-muted">좋아요 : @Html.DisplayFor(model => m.Likes)</span>
                    <button type="button" class="thumbs likeComment" data-likevalue="1" data-commentid="@m.Id"><span class="glyphicon glyphicon-thumbs-up thumbs"></span></button>
                    <button type="button" class="thumbs likeComment" data-likevalue="0" data-commentid="@m.Id"><span class="glyphicon glyphicon-thumbs-down thumbs"></span></button>
                </div>
            </div>

            <div class="editCommentForm">                
                <textarea class="form-control" cols="20" id="Writing" rows="3">@m.Writing</textarea>
            </div>
            <div class="editCommentButtons">
                <button type="button" class="btn btn-primary btn-xs editComment">취소</button>
                <button type="submit" class="btn btn-primary btn-xs submitEdit" data-commentid="@m.Id">수정</button>
            </div>

        </div>
    }
</div>
