@model GreenLight.Models.Post

<div class="col-xs-12 col-sm-8, col-md-9, col-lg-9">
    <div class="description">
        <h3>이야기</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <hr />
        @{Html.RenderAction("AddComment", "Home", new { PostID = Model.Id });}
            @if (Model.Comments != null)
            {
                foreach (var c in Model.Comments)
                {
                    <div class="descript">@Html.DisplayFor(a => c.Writing)</div>
                    @Html.ActionLink("Delete", "DeleteComment", "Home", new { commentId = c.Id }, new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                }
            }
        
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "OnOrOff")
    </p>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <div class="side-bar">
        <dl>
            <dt>제목</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>
            <dt>조회수</dt>
            <dd>@Html.DisplayFor(m => m.Views)</dd>
            @if (User.Identity.IsAuthenticated)
            {
                <dt>신호등</dt>
                <dd>@Html.DisplayFor(m=>m.Result)</dd>
            }
        </dl>
    </div>
</div>
