@model GreenLight.Models.Post
@using Microsoft.AspNet.Identity;

@{ 
    ViewBag.Title = Model.Title;
}

<div class="col-xs-12">
    <div id="postInfoSection">
        <div class="detailTitle">
            <h3>@Html.DisplayFor(model => model.Title)</h3>
            <span>조회수 : @Html.DisplayFor(model => model.Views)</span>
            <span>신호등 : @(Model.Result == null ? "켜지기 전" : Model.Result == true ? "그린라이트" : "레드라이트")</span>
        </div>
        <hr />
        <div class="description">
            <h4>이야기</h4>
            @Html.Raw(Model.Description)
        </div>
    </div>

    <div class="panel-group" id="voteAndComments">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#voteAndComments" href="#collapse1">댓글 <span class="badge">@Model.Comments.Count()</span><br /></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body" id="CommentSection">
                    @{ViewBag.postId = Model.Id;}
                    @Html.Partial("_CommentSection", Model.Comments)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#voteAndComments" href="#collapse2">투표</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body" id="PollSection">
                    @{ViewBag.postedById = Model.PostedById;}
                    @Html.Partial("_PollSection", Model.Votes)
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-info">@Html.ActionLink("목록", "OnOrOff","", new { @class = "white-font" })</button>
        @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.PostedById))
        {
            <button class="btn btn-info">@Html.ActionLink("수정", "Edit", new { id = Model.Id }, new { @class = "white-font pull-right" }) </button>
        }
    </div>
</div>

@section scripts
{
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/adapters/jquery.js"></script>

    <script>
        $(document).ready(function() {
            bindAll();
        });

        function bindAll() {
            $('input#Writing').attr('value', '');
            bindComment();
            bindPoll();
            bindEdit();
        }

        function bindComment() {
            console.log("bindComment");
            $("#commentForm").ajaxForm({
                target: "#CommentSection",
                success: function () {
                    bindAll();
                }
            });
        }

        function bindPoll() {
            console.log("bindPoll");
            $("#voteForm").ajaxForm({
                target: "#PollSection"
            })
        }

        function bindEdit() {
            console.log("bindEdit");
            $("#editForm").ajaxForm({
                target: "#postInfoSection",
                success: function () {
                    bindAll();
                    alert("수정 되었습니다");
                }
            });
        }

        $(document).on("click", ".deleteComment", function() {
            if (!confirm("삭제 하시겠습니까?")) {
                return;
            }

            $("#CommentSection").load("@Url.Action("DeleteComment", "Home")",
            {
                commentId: $(this).data("commentid")
            }, function() {
                bindAll();
            });
        });
    </script>
}
