@model GreenLight.Models.Post

<div class="col-xs-12 col-sm-8, col-md-9, col-lg-9">
    <div class="description">
        <h3>이야기</h3>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <hr />
    </div>

    <div id="CommentSection">
        @{ViewBag.postId = Model.Id;}
        @Html.Partial("_CommentSection", Model.Comments)
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.ActionLink("Back to List", "OnOrOff")
    </p>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <div class="side-bar">
        <dl>
            <dt>제목</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>
            <dt>조회수</dt>
            <dd>@Html.DisplayFor(model => model.Views)</dd>
            @if (User.Identity.IsAuthenticated)
            {
                <dt>신호등</dt>
                <dd>@Html.DisplayFor(model => model.Result)</dd>
            }
        </dl>
    </div>
    <div id="PollSection">
        @Html.Partial("_PollSection",Model.Votes)
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            bindAll();
        });

        function bindAll() {
            $('input#Writing').attr('value', '');
            bindComment();
            bindPoll();
        }

        function bindComment() {
            console.log("bind");
            $("#commentForm").ajaxForm({
                target: "#CommentSection",
                success: function () {
                    bindAll();
                }
            });
        }

        function bindPoll() {
            console.log("bind");
            $("#voteForm").ajaxForm({
                target: "#PollSection",
                success: function () {
                    bindAll();
                }
            })
        }

        $(document).on("click", ".deleteComment", function() {
            if (!confirm("DELETE?")) {
                return;
            }

            $("#CommentSection").load("@Url.Action("DeleteComment", "Home")",
            {
                commentId: $(this).data("commentid")
            }, function() {
                bindAll();
            });
        });
    </script>
}
