@model GreenLight.Models.Post

<div class="col-xs-12 col-sm-8, col-md-10, col-lg-10">
    <div class="description">
        <p>@Html.DisplayFor(model => model.Description)</p>
        <hr />
        @if (Model.Comments != null)
        {
            foreach (var c in Model.Comments)
            {
                <div>@Html.DisplayFor(a => c.Writing)</div>
            }
        }
        
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "OnOrOff")
    </p>
</div>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
    <div class="side-bar">
        <p>@Html.DisplayFor(model => model.Title)</p>
    </div>
</div>
