@model GreenLight.Models.Post

@{
    ViewBag.Title = "Edit";
    var result = Model.Result;
}
<div class="form-horizontal editPage">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "editForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.PostedById)
        @Html.HiddenFor(m => m.CreatedOn)
        @Html.HiddenFor(m => m.Views)
        <div class="detailTitle">
            <input type="text" name="Title" value="@Model.Title" class="form-control postTitleInput" />
            <div class="titleDescript">
                <p class="pull-left details">
                    조회수 : @Html.DisplayFor(model => model.Views)
                    신호등 :
                </p>
                <select class="form-control resultSelect pull-left" name="Result">
                    <option value="null">라이트를 켜주세요</option>
                    <option value="true" @(result == null ? "" : (bool)result ? "selected" : "")>그린라이트</option>
                    <option value="false" @(result == null ? "" : (bool)result ? "" : "selected")>레드라이트</option>
                </select>
            </div>
        </div>
        <br />
        <hr />
        <div class="descriptionHolder">
            <h4>이야기</h4>
            @Html.TextAreaFor(m=>m.Description, new { @class = "cke", rows = "5" })
        </div>
        <input type="submit" class="btn btn-info pull-right" value="수정 완료"/>
    }
</div>

@section Scripts {
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            editor = CKEDITOR.instances['Description']
            if (editor) { editor.destroy(true); }
            $('textarea.cke').ckeditor();
            CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")')
        });
    </script>
}
