@model IEnumerable<GreenLight.Models.Post>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "그린라이트인가요?";
}

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <h2>@ViewBag.Title</h2>
            <div class="nav-wrapper" id="custom-search-input">
                <div class="input-field">
                    <input id="search" class="form-control" type="search" name="query" placeholder="검색">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        }

        <div class="postpage">
            @foreach (var p in Model)
            {
                <a href="@Url.Action("Detail", "Home", new {id = p.Id })">
                    <div class="card-content black-text @(p.Result==null?"":(bool)(p.Result)?"on":"off")">
                        <h4 class="postTitle">@p.Title</h4>
                        <hr />
                        <ul>
                            <li>
                                요약 내용 : @Html.DisplayFor(a => p.DescriptionShort)
                            </li>
                            <li>
                                조회수 : @Html.DisplayFor(a => p.Views)
                            </li>
                        </ul>
                        @if (!User.Identity.GetUserId().IsEmpty() && User.Identity.GetUserId().Equals(p.PostedById))
                        {
                            <div class="deleteButton">
                                @Html.ActionLink("삭제", "Delete", "Home", new { PostId = p.Id }, new { onclick = "return confirm('Are you sure you wish to delete this?');", @class = "btn btn-danger btn-sm" })
                            </div>
                        }
                    </div>
                </a>
            }
        </div>
        <hr />
        @Html.ActionLink("글쓰기", "Create", "Home", null, new { @class = "btn btn-info", role = "button" })
    </div>
    @*<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="side-bar-top">
            <p>@User.Identity.GetUserName()</p>
        </div>
        <hr />
        <div class="side-bar-bottom">
            <p>bottom</p>
        </div>
    </div>*@
</div>
<div class="clearfix"></div>