@model IEnumerable<GreenLight.Models.Post>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Post";
}

<div class="row">
    <div class="col-xs-12 col-sm-8, col-md-10, col-lg-10">
        <div class="nav-wrapper">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <h2>@ViewBag.Title.</h2>
                <div class="input-field">
                    <input id="search" type="search" name="query">
                    <label for="search"><button><i class="glyphicon glyphicon-search">Search</i></button></label>
                </div>
            }
        </div>
        <div class="postpage">
            @foreach (var p in Model)
            {
                <a href="@Url.Action("Detail", "Home", new {id = p.Id})">
                    <div class="card-content black-text @(p.Result==null?"":(bool)(p.Result)?"good":"bad")">
                        <span class="card-title black-text">@p.Title</span>
                        <ul>
                            <li>
                                @Html.DisplayFor(a => p.PostedBy.UserName)
                            </li>
                            <li>
                                @Html.DisplayFor(a => p.Description)
                            </li>
                            <li>
                                @Html.DisplayFor(a => p.Views)
                            </li>
                        </ul>
                    </div>
                </a>
            }
        </div>
        <button class="btn-link">@Html.ActionLink("글쓰기", "Create", "Home")</button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <div class="side-bar">
            <p>@User.Identity.GetUserName()</p>
        </div>
    </div>
</div>
<div class="clearfix"></div>